<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


    <style>
        .container {

            margin: 200px 200px 200px 200px;
        }

        .card1 {
            border-color: #1B1B1E;
        }

        .card2 {
            border-color: #634B66;
        }

        .card3 {
            border-color: Brown;
        }

        .card4 {
            border-color: navy blue;
        }

        body {
            background: #191828;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                <div class="card card2">
                    <div class="card-body">
                        <h5 class="card-title">Teacher</h5>
                        <p class="card-text">you can enter and view information about teacher here.</p>

                        <a href="#" class="btn btn-primary">Enter Details</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                <div class="card card1">
                    <div class="card-body">
                        <h5 class="card-title">Student</h5>
                        <p class="card-text">you can enter and view information about student here.</p>
                        <a href="school_add" class="btn btn-primary">Enter Details</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                <div class="card card3">
                    <div class="card-body">
                        <h5 class="card-title">Transport</h5>
                        <p class="card-text">you can enter and view information about Transportation here.</p>
                        <a href="#" class="btn btn-primary">Enter Details</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                <div class="card card4">
                    <div class="card-body">
                        <h5 class="card-title">Accounts</h5>
                        <p class="card-text">you can enter and view information about Accounts here.</p>
                        <a href="#" class="btn btn-primary">Enter Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>